.primary-navbar {
    background-color: var(--kb-bg-navbar-back-color);
    color: var(--kb-navbar-text-color);
}

.secondary-navbar {
    background-color: var(--kb-bg-navbar2-back-color);
    color: var(--kb-navbar-text-color);
}