@if (loggedIn() === 'unknown') {}
@else if (loggedIn() === false) {
<kb-me-no-user [PageRef]="pageRef()" [PageSrc]="pageSrc()"></kb-me-no-user>
}
@else if (user !== false) {
<div class="lg:container mx-auto">
    <h3 class="mb-4!">
        {{ Locale.me.title }}
    </h3>

    <p class="striped rounded-md py-2 px-4 mb-4">
        <fa-icon [icon]="icons.info" class="me-2"></fa-icon>
        {{ Locale.me.description }}
    </p>

    <section>
        <h4>
            <fa-icon [icon]="icons.collection" class="me-1"></fa-icon>
            {{ Locale.me.collections.title }}
        </h4>

        @for (item of userCollections; track $index) {
        <div class="striped rounded-md px-3">
            {{item|json}}
        </div>
        }

    </section>

</div>
}