<div class="flex items-center justify-center p-4">
    <a [routerLink]="['/search']">
        <button class="btn mx-3 p-3">
            <fa-icon [icon]="Icons.search" [fixedWidth]="true" size="lg"></fa-icon>
        </button>
    </a>
    <a [routerLink]="['/me']">
        <button class="btn mx-3 p-3">
            <fa-icon [icon]="LoggedIn() ? Icons.account : Icons.accountNone" [fixedWidth]="true" size="lg"></fa-icon>
        </button>
    </a>
    <a [routerLink]="['/create']" [queryParams]="{ ref: 'mobile-menu', source: 'new' }">
        <button class="btn mx-3 p-3">
            <fa-icon [icon]="Icons.recipeNew" [fixedWidth]="true" size="lg"></fa-icon>
        </button>
    </a>
</div>