a>* {
    box-shadow: 0 0 .6rem .3rem rgba(0, 0, 0, .3) !important;
    background-color: var(--kb-menu-buttons-bg);
    border-radius: var(--kb-menu-buttons-border-radius) !important;
    color: var(--kb-menu-buttons-color);
    border: 1px solid darken(#003366, 15%);
}

.menu-bar {
    // background-color: #000000;
    // background-color: rgba(0, 0, 0, .7);
    // background-color: rgba(40, 42, 40, .7);
    // background-color: var(--kb-menu-buttons-bg);
    // background-color: var(--kb-bg-navbar-back-color);
}