<div class="p-4">
    <form (submit)="onSubmitSearch($event); $event.preventDefault()" [formGroup]="SearchForm">
        <div class="flex items-center justify-center">
            <!-- multifunctional search button -->
            <a [routerLink]="!IsSearchUrl() ? ['/search'] : undefined"
                (click)="!SearchState() ? onStartSearch() : undefined"
                [ngClass]="{ 'w-full': SearchState(), 'lg:w-lg': SearchState(), 'w-[75px]': !SearchState() }"
                class="transition-[width] duration-150 ease-in-out">

                <div class="button-like btn px-3 py-2 flex items-center transition-[width] duration-150 ease-in-out w-[50px] overflow-hidden"
                    [ngClass]="{ 'mx-3': !SearchState(), 'w-full': SearchState() }" name="momenu-search-opener"
                    [attr.aria-label]="Locale.floatingMenu.searchButton.ariaLabel">

                    <button (click)="onClickSearchButtonIcon($event)"
                        [attr.aria-label]="Locale.floatingMenu.searchButton.searchIconAriaLabel" role="button"
                        type="button">
                        <fa-icon [icon]="!SearchState() ? Icons.search : Icons.searchClose" [fixedWidth]="true"
                            size="lg"></fa-icon>
                    </button>

                    <input type="search" name="mobmenu-search" id="mobmenu-search" #search class="mr-2 ml-4 grow"
                        [ngStyle]="{ 'background-color': 'var(--kb-bg-navbar2-back-color)' }"
                        [placeholder]="SearchPlaceholder()"
                        [attr.aria-label]="Locale.floatingMenu.searchButton.searchInput.ariaLabel" autocomplete="off"
                        formControlName="phrase">

                    <button [attr.aria-label]="Locale.floatingMenu.searchButton.submitIconAriaLabel" role="button"
                        type="submit">
                        <fa-icon [icon]="Icons.searchStart" [fixedWidth]="true" size="lg"></fa-icon>
                    </button>
                </div>

            </a>
            <!-- multifunctional search button -->

            <!-- button to navigate to login/profile page -->
            <a [routerLink]="['/me']" [ngClass]="{ 'w-[75px]': !SearchState(), 'w-0 overflow-hidden': SearchState() }"
                class="transition-[width] duration-150 ease-in-out self-stretch">
                <button class="btn mx-3 p-3">
                    <fa-icon [icon]="LoggedIn() ? Icons.account : Icons.accountNone" [fixedWidth]="true"
                        size="lg"></fa-icon>
                </button>
            </a>
            <!-- button to navigate to login/profile page -->

            <!-- button to create a new recipe -->
            <a [routerLink]="LoggedIn() ? ['/create'] : ['/login']"
                [queryParams]="{ ref: 'mobile-menu', source: 'new' }"
                [ngClass]="{ 'w-[75px]': !SearchState(), 'w-0 overflow-hidden': SearchState() }"
                class="transition-[width] duration-150 ease-in-out self-stretch">
                <button class="btn mx-3 p-3">
                    <fa-icon [icon]="Icons.recipeNew" [fixedWidth]="true" size="lg"></fa-icon>
                </button>
            </a>
            <!-- button to create a new recipe -->

        </div>
    </form>
</div>