docker build -t kochbuch .
docker container rm kochbuch-dev
docker run -p 80:80 -e DB_Server=172.17.0.2 -e DB_User=kbdev -e DB_Password=foo -e DB_Name=kochbuch -e NC_Host=my.cloud.local -e NC_ClientId=myclient -e NC_ClientSecret=mysecret --name kochbuch-dev kochbuch