<div class="container lg:w-xl">

    <h3 class="text-center pb-3">
        {{ Locale.errorPages.loginToCreateRecipe.title }}
    </h3>

    <p>
        {{ Locale.errorPages.loginToCreateRecipe.paragraphLine1 }}<br />
        {{ Locale.errorPages.loginToCreateRecipe.paragraphLine2 }}
    </p>

    <div class="text-center mb-10">
        @if (LoginUrl) {
        <a [href]="LoginUrl">
            <button type="button" class="btn bg-navbar2-back color-body px-3 py-2">
                <fa-icon [icon]="Icons.nextcloud" class="me-1"></fa-icon>
                {{ Locale.login.loginWithNcButton }}
            </button>
        </a>
        }
        @else {
        <p>Login disabled due to technical issues. Sorry!</p>
        }
    </div>

</div>