<div class="container w-xl">

    <h3 class="text-center pb-3">
        Mach es zu Deinem Kochbuch 🧑‍🍳
    </h3>

    <p>
        Du musst dich anmelden, um dein eigenes digitales Kochbuch zu verwenden.<br />
        Die Benutzung ist freiwillig und kostenfrei, aber Familie und Freunden vorbehalten. Die Anmeldung erfordert ein
        von
        uns bereitgestelltes Nextcloud Konto.
    </p>

    <div class="text-center mb-10">
        <a href="https://google.com">
            <button type="button" class="btn bg-navbar2-back color-body px-3 py-2">
                Hier anmelden
            </button>
        </a>
    </div>

</div>