<!-- main top navigation bar-->
<div class="nav-primary flex items-center px-3 py-2 lg:px-5 lg:py-3">
    <!-- brand icon and app name, search field -->
    <div class="flex grow items-center">
        <a [routerLink]="['/']" class="flex items-center">
            <h1 class="mb-0" style="line-height: 1;" aria-labelledby="brand-label">
                KB
            </h1>
            <h4 class="m-0 ps-3">
                {{ Locale.navbar.brand.pageTitle }}
            </h4>
            <span class="sr-only" id="brand-label">
                {{ Locale.navbar.brand.iconLabel }}
            </span>
        </a>
        <!-- <div class="flex grow justify-end items-center mx-3">
            <kb-navbar-search ></kb-navbar-search>
        </div> -->
    </div>
    <!-- brand icon and app name, search field -->
    <div class="flex items-center select-none">
        <button type="button" class="btn outline m-0 px-2" (click)="setLocale('de')">
            DE
        </button>
        <button type="button" class="btn outline m-0 ms-2 px-2" (click)="setLocale('en')">
            EN
        </button>
        <button type="button" class="btn outline m-0 ms-2 px-2" (click)="setLocale('fr')">
            FR
        </button>
        <button type="button" class="btn outline m-0 ms-2 px-2" (click)="setLocale(null)">
            X
        </button>
    </div>
</div>
<!-- main top navigation bar-->