<!-- main top navigation bar-->
<div class="nav-primary flex items-center justify-between ps-3 pr-1 py-2 lg:px-5 lg:py-3">
    <!-- brand icon and app name, search field -->
    <div class="flex items-center">
        <a [routerLink]="['/']" class="flex items-center truncate">
            <!-- <h1 class="mb-0" style="line-height: 1;" aria-labelledby="brand-label">
                KB
            </h1> -->
            <h4 class="m-0 overflow-clip text-nowrap transition-width duration-150 ease-in-out"
                [ngClass]="[ ShowLanguageSelector() ? 'w-0 md:w-44' : 'w-44']">
                {{ Locale.navbar.brand.pageTitle }}
            </h4>
            <span class="sr-only" id="brand-label">
                {{ Locale.navbar.brand.iconLabel }}
            </span>
        </a>
    </div>
    <!-- brand icon and app name -->

    <div class="flex items-center select-none">
        <div class="overflow-clip text-nowrap transition-width duration-150 ease-in-out text-right"
            [ngClass]="[ !ShowLanguageSelector() ? 'w-0' : 'w-36']">
            @for (item of ShownLocales; track $index) {
            <button type="button" class="btn m-0 px-2" [ngClass]="{ active: ActiveLocale() === item.key }"
                (click)="setLocale(item.key)">
                <span class="fi" [ngClass]="[ item.flag ]"></span>
            </button>
            }
        </div>
        <div>
            <button type="button" class="flex items-center btn my-0 ms-2 px-2"
                (click)="ShowLanguageSelector.set(!ShowLanguageSelector())">
                <fa-icon [icon]="Icons.caretLeft" [ngClass]="{ 'color-navbar-bg': ShowLanguageSelector() }"></fa-icon>
                <fa-icon [icon]="Icons.ailocalized" [size]="'lg'"></fa-icon>
                <fa-icon [icon]="Icons.caretRight" [ngClass]="{ 'color-navbar-bg': !ShowLanguageSelector() }"></fa-icon>
            </button>
        </div>
    </div>

</div>
<!-- main top navigation bar-->