@use "tailwindcss";
@use "@fontsource/source-sans-pro";
@use "@fontsource/cinzel";

@media (prefers-color-scheme: dark) {

    :root {
        // palette: https://coolors.co/282a28-f5eae1-fee440-00bbf9-00f5d4
        --kb-bg-back-color: #282a28;
        --kb-bg-back-color-rgb: 40, 42, 40;
        --kb-border-color: #5a5e5a;
        --kb-bg-navbar-back-color: #002448;
        --kb-bg-navbar2-back-color: #003366;
        --kb-text-color: #f5eae1;
        --kb-navbar-text-color: #f5eae1;
        --kb-menu-buttons-bg: #003366;
        --kb-menu-buttons-color: #f5eae1;
        --kb-menu-buttons-border-radius: calc(var(--spacing) * 3);
        --kb-link-color: #375a0c;
    }

    body {
        background-image: linear-gradient(#282a28, darken(#282a28, 10%)) !important;
    }

}

@media (prefers-color-scheme: light) {

    :root {
        // palette: https://coolors.co/f5eae1-141514-fee440-00bbf9-00f5d4
        --kb-bg-back-color: #f5eae1;
        --kb-bg-back-color-rgb: 245, 234, 225;
        --kb-border-color: #282a28;
        --kb-bg-navbar-back-color: #002448;
        --kb-bg-navbar2-back-color: #003366;
        --kb-text-color: #141514;
        --kb-navbar-text-color: #f5eae1;
        --kb-menu-buttons-bg: #003366;
        --kb-menu-buttons-color: #f5eae1;
        --kb-menu-buttons-border-radius: calc(var(--spacing) * 3);
        --kb-link-color: #375a0c;
    }

}

:root {
    --kb-font-default: "Source Sans Pro";
    --kb-font-heading: "Cinzel";
    --kb-font-size-default: 1.05rem;
}

a {
    cursor: pointer;
    color: var(--kb-link-color);
}

.bg-navbar2-back {
    background-color: var(--kb-bg-navbar2-back-color) !important;
}

.bg-body-rgba-0\.8 {
    background-color: rgba(var(--kb-bg-back-color-rgb), .8);
}

body {
    background-color: var(--kb-bg-back-color);
    background-image: linear-gradient(#f5eae1, darken(#f5eae1, 10%));
    color: var(--kb-text-color);
    font-family: var(--kb-font-default);
    font-size: var(--kb-font-size-default);
    min-height: 100vh;
}

.border-right {
    border-right: 1px solid var(--kb-text-color);
}

button,
.button-like {
    cursor: pointer;
    border-radius: var(--spacing);

    &.btn {

        &.outline {
            border: 1px solid var(--kb-bg-back-color);
        }
    }

    &.no-style {
        border: 0;
    }

}

.color-body {
    color: var(--kb-text-color);
}

.container {
    padding-right: calc(var(--spacing)* 2);
    padding-left: calc(var(--bs-gutter-x)* 2);
    margin-right: auto;
    margin-left: auto;
}

.fw-bold {
    font-weight: 700;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    font-family: var(--kb-font-heading);
    margin-top: 0;
    line-height: 1.2;

    &:not(.mb-0) {
        margin-bottom: .5rem;
    }
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

h2 {
    font-size: calc(1.325rem + .9vw);
}

h3 {
    font-size: calc(1.3rem + .6vw);
}

h4 {
    font-size: calc(1.275rem + .3vw);
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: var(--kb-font-size-default);
}

input {
    line-height: 1.5;
    color: var(--kb-text-color);
    padding: var(--spacing) calc(var(--spacing) * 2);
    background-color: var(--kb-bg-back-color);
    border: 1px solid var(--kb-border-color);
    border-radius: calc(var(--spacing) * 2);
}

nav a,
h1,
h4 {
    color: var(--kb-navbar-text-color) !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--kb-border-color);
    border-radius: calc(var(--spacing) * 2);
    word-wrap: break-word;

    >:nth-child(1) {
        border-top-left-radius: calc(var(--spacing) * 2);
        border-top-right-radius: calc(var(--spacing) * 2);
    }

}

.rounded {
    border-radius: calc(var(--spacing) * 2);
}

ul.no-bullets {
    display: flex;
    flex-direction: column;

    >li {
        position: relative;
        display: block;
        padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
    }
}

@media (min-width: 1200px) {


    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }
}