@use "tailwindcss";
@use "@fontsource/source-sans-pro";
@use "@fontsource/cinzel";

// fix required for @use
// see https://github.com/lipis/flag-icons/issues/1335
$flag-icons-included-countries: 'eu' 'de' 'fr';
@import 'flag-icons/sass/flag-icons';

@media (prefers-color-scheme: dark) {

    :root {
        // palette: https://coolors.co/3c3e3c-f5eae1-00478f-375a0c-ef767a
        --kb-bg-back-color: #282a28;
        --kb-bg-back-color-rgb: 40, 42, 40;
        --kb-card-back-color: #3c3e3c;
        --kb-border-color: #5a5e5a;
        --kb-bg-navbar-back-color: #00478f;
        --kb-bg-navbar2-back-color: #002448;
        --kb-text-color: #f5eae1;
        --kb-navbar-text-color: #f5eae1;
        --kb-navbar-link-color: #a2c672;
        --kb-menu-buttons-bg: #00478f;
        --kb-menu-buttons-color: #f5eae1;
        --kb-menu-buttons-border-radius: calc(var(--spacing) * 3);
        --kb-link-color: #a2c672;
        --kb-warn-color: #ef787a;
        --kb-bg-green: #589014;
        --kb-bg-green-disabled: #6e7881;
        --kb-border-green: #589014;
        --kb-text-ongreen: #f8f9fa;
        --kb-muted-color: #777;
        --kb-font-size-default: 1.05rem;
    }

    .striped {
        &:nth-of-type(odd) {
            background-color: rgba($color: #f5eae1, $alpha: 0.05);
        }

        &:hover {
            background-color: rgba($color: #f5eae1, $alpha: 0.1);
        }
    }

    .table>.table-row-group>.table-row {
        &:nth-of-type(odd) {
            background-color: rgba($color: #f5eae1, $alpha: 0.05);
        }

        &:hover {
            background-color: rgba($color: #f5eae1, $alpha: 0.1);
        }
    }

}

@media (prefers-color-scheme: light) {

    :root {
        // palette: https://coolors.co/f5eae1-141514-002448-375a0c-bb4430
        --kb-bg-back-color: #f5eae1;
        --kb-bg-back-color-rgb: 245, 234, 225;
        --kb-card-back-color: #ebd4c2;
        --kb-border-color: #282a28;
        --kb-bg-navbar-back-color: #002448;
        --kb-bg-navbar2-back-color: #003366;
        --kb-text-color: #141514;
        --kb-navbar-text-color: #f5eae1;
        --kb-navbar-link-color: #a2c672;
        --kb-menu-buttons-bg: #002448;
        --kb-menu-buttons-color: #f5eae1;
        --kb-menu-buttons-border-radius: calc(var(--spacing) * 3);
        --kb-link-color: #375a0c;
        --kb-warn-color: #bb4430;
        --kb-bg-green: #589014;
        --kb-bg-green-disabled: #6e7881;
        --kb-border-green: #589014;
        --kb-text-ongreen: #f8f9fa;
        --kb-muted-color: #555;
        --kb-font-size-default: 1.05rem;
    }

    .striped {
        &:nth-of-type(odd) {
            background-color: rgba($color: #141514, $alpha: 0.1);
        }

        &:hover {
            background-color: rgba($color: #141514, $alpha: 0.15);
        }
    }

    .table>.table-row-group>.table-row {
        &:nth-of-type(odd) {
            background-color: rgba($color: #141514, $alpha: 0.1);
        }

        &:hover {
            background-color: rgba($color: #141514, $alpha: 0.15);
        }
    }

}

@media print {

    :root {
        --spacing: 0.12rem;
        // palette: https://coolors.co/f5eae1-141514-002448-375a0c-bb4430
        --kb-bg-back-color: #fff;
        --kb-bg-back-color-rgb: 245, 234, 225;
        --kb-card-back-color: #ebd4c2;
        --kb-border-color: #141514;
        --kb-bg-navbar-back-color: #fff;
        --kb-bg-navbar2-back-color: #fff;
        --kb-text-color: #141514;
        --kb-navbar-text-color: #141514;
        --kb-navbar-link-color: #405440;
        --kb-menu-buttons-bg: #fff;
        --kb-menu-buttons-color: #141514;
        --kb-menu-buttons-border-radius: calc(var(--spacing) * 3);
        --kb-link-color: #375a0c;
        --kb-warn-color: #bb4430;
        --kb-bg-green: #fff;
        --kb-border-green: #405440;
        --kb-text-ongreen: #141514;
        --kb-muted-color: #555;
        --kb-font-size-default: .89rem;
    }

    body {
        margin: .2cm .6cm .2cm 1.2cm;
    }

    .image-gallery {
        width: 8cm !important;
        height: auto !important;
        float: right;
        margin-left: 1cm;
    }

    p:not(.mb-0) {
        margin-bottom: .24rem !important;
    }

    td,
    th,
    .table-cell {
        padding: 0 .36rem !important;
    }

}

:root {
    --kb-font-default: "Source Sans Pro";
    --kb-font-heading: "Cinzel";
}

a {
    cursor: pointer;

    &:not(.clear) {
        color: var(--kb-link-color);
    }
}

.bg-body-rgba-0\.8 {
    background-color: rgba(var(--kb-bg-back-color-rgb), .8);
}

.bg-navbar-back {
    background-color: var(--kb-bg-navbar-back-color) !important;

    &.text-navbar a {
        color: var(--kb-navbar-link-color) !important;
    }
}

.bg-navbar2-back {
    background-color: var(--kb-bg-navbar2-back-color) !important;
}

.bg-warn {
    background-color: rgba($color: #bb4430, $alpha: .4);
}

body,
.swal2-modal {
    background-color: var(--kb-bg-back-color);
    color: var(--kb-text-color);
    font-family: var(--kb-font-default);
    font-size: var(--kb-font-size-default);
}

body {
    min-height: 100vh;
}

.border-bottom {
    border-bottom: 1px solid var(--kb-border-color);
}

.border-right {
    border-right: 1px solid var(--kb-border-color);
}

.border {
    border: 1px solid var(--kb-bg-navbar-back-color);
}

.border-b-none {
    border-bottom: 0 !important;
}

.border-t-none {
    border-top: 0 !important;
}

button,
.button-like {
    cursor: pointer;
    border-radius: var(--spacing);

    &.btn {

        &.outline {
            border: 1px solid var(--kb-bg-back-color);
        }

        &.active {
            background-color: var(--kb-bg-navbar2-back-color);
            border: 1px solid var(--kb-border-color);
        }

    }

    &.btn-green {
        color: var(--kb-text-ongreen) !important;
        padding: .375rem .75rem !important;

        &:not(:disabled) {
            background-color: var(--kb-bg-green) !important;
            border: 1px solid var(--kb-border-green) !important;
        }

        &:disabled {
            background-color: var(--kb-bg-green-disabled);
        }
    }

    &.btn-outline-green {
        border: 1px solid var(--kb-border-green) !important;
        color: var(--kb-navbar-link-color) !important;
        padding: .375rem .75rem !important;
    }

    &.no-style {
        border: 0;
    }

}

.color-body {
    color: var(--kb-text-color);
}

.color-navbar-bg {
    color: var(--kb-bg-navbar-back-color);
}

.container {
    padding-right: calc(var(--spacing)* 2);
    padding-left: calc(var(--bs-gutter-x)* 2);
    margin-right: auto;
    margin-left: auto;
}

.flex.fill {
    flex: 1 1 auto !important;
}

.fs-90\% {
    font-size: 90%;
}

.fw-bold {
    font-weight: 700;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    font-family: var(--kb-font-heading);
    margin-top: 0;
    line-height: 1.2;

    &:not(.mb-0) {
        margin-bottom: .5rem;
    }
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    &:not(.mb-0) {
        margin-bottom: .375rem;
    }
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

h2 {
    font-size: calc(1.325rem + .9vw);
}

h3 {
    font-size: calc(1.3rem + .6vw);
}

h4 {
    font-size: calc(1.275rem + .3vw);
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: var(--kb-font-size-default);
}

input {
    line-height: 1.5;
    color: var(--kb-text-color);
    padding: var(--spacing) calc(var(--spacing) * 2);
    background-color: var(--kb-bg-back-color);
    border: 1px solid var(--kb-border-color);
    border-radius: calc(var(--spacing) * 2);
}

.input-group {
    width: 100%;

    >label {
        display: block;
        margin-bottom: calc(var(--spacing)* 2);
        font-size: 80%;
    }
}

nav {

    a,
    h1,
    h4 {
        color: var(--kb-navbar-text-color) !important;
    }
}

p {
    margin-top: 0;

    &:not(.mb-0) {
        margin-bottom: 1rem;
    }
}

.recipe-card {
    background-color: var(--kb-card-back-color);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--kb-border-color);
    border-radius: calc(var(--spacing) * 2);
    word-wrap: break-word;

    &:hover {
        border-color: var(--kb-link-color);
    }

    >.header {
        border-bottom: 1px solid var(--kb-border-color);

        >img {
            border-top-left-radius: calc(var(--spacing) * 2);
            border-top-right-radius: calc(var(--spacing) * 2);
        }
    }

    >.content {
        padding: calc(var(--spacing) * 2);

        >* {
            text-align: center;
        }
    }

    >.footer {
        font-size: 90%;
        padding: calc(var(--spacing) * 2);

        &:not(.no-grid) {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        >* {
            text-align: center;
        }
    }

}

.rounded {
    border-radius: calc(var(--spacing) * 2);
}

.table {

    border: 1px solid var(--kb-bg-navbar-back-color);

    td,
    th,
    .table-cell {
        padding: .175rem .375rem;
    }

    >.table-header-group {
        background-color: var(--kb-bg-navbar-back-color);
        color: var(--kb-navbar-text-color);

        >.table-row>.table-cell {
            font-weight: bold;
        }
    }

}

.text-link {
    color: var(--kb-link-color);
}

.text-muted {
    color: var(--kb-muted-color);
}

.text-navbar {
    color: var(--kb-navbar-text-color);
}

.text-warn {
    color: var(--kb-warn-color);
}

ul.no-bullets {
    display: flex;
    flex-direction: column;

    >li {
        position: relative;
        display: block;
        padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
    }
}

@media (min-width: 1200px) {


    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }
}

.lightbox-wrapper {

    .pswp__bg {
        background: rgba($color: #000000, $alpha: .95) !important;
    }

    .pswp__button--arrow--right,
    .pswp__button--arrow--left {
        right: 6px !important;
        background: none !important;
        z-index: 999;
    }

    .pswp__button--arrow--right::before {
        background-position: -93px -45px !important;
    }

    .pswp__button--arrow--left::before {
        background-position: -138px -45px !important;
    }
}