<h3 class="text-center pb-5">
    Hoppla!
    <br />
    Seite nicht gefunden 🧑‍🍳🚫
</h3>

<p>
    Es sieht so aus, als wärst du über einen Fehler gestolpert!<br /><br />
    Aber keine Sorge! Hier sind ein paar Möglichkeiten:
</p>

<ul class="no-bullets">
    <li>
        <a [routerLink]="['/']">
            <fa-icon [icon]="Icons.home" class="me-1"></fa-icon>
            Zurück zum Hauptmenü – Dort findest du garantiert
            schmackhafte Alternativen.
        </a>
    </li>
    <li>
        <a [routerLink]="['/search']">
            <fa-icon [icon]="Icons.search" class="me-1"></fa-icon>
            Eine andere Zutat ausprobieren – Vielleicht führt eine neue Suche zum gewünschten Rezept.
        </a>
    </li>
    <li>
        Oder was ganz anderes – wie wäre es mit einem Kaffee? ☕ Oder doch lieber ein Stück Kuchen? 🍰
    </li>
</ul>