<div class="container w-xl">
    <h3 class="text-center pb-5">
        {{ Locale.errorPages.routeNotFound.title1 }}
        <br />
        {{ Locale.errorPages.routeNotFound.title2 }}
    </h3>

    <p>
        {{ Locale.errorPages.routeNotFound.paragraphLine1 }}<br /><br />
        {{ Locale.errorPages.routeNotFound.paragraphLine2 }}
    </p>

    <ul class="no-bullets">
        <li>
            <a [routerLink]="['/']">
                <fa-icon [icon]="Icons.home" class="me-1"></fa-icon>
                {{ Locale.errorPages.routeNotFound.optionLink1 }}
            </a>
        </li>
        <li>
            <a [routerLink]="['/search']">
                <fa-icon [icon]="Icons.search" class="me-1"></fa-icon>
                {{ Locale.errorPages.routeNotFound.optionLink2 }}
            </a>
        </li>
        <li>
            {{ Locale.errorPages.routeNotFound.optionLink3 }}
        </li>
    </ul>
</div>