<div class="flex flex-row flex-wrap">
    @for (item of Recipes; track $index) {
    <a class="block clear basis-1/1 md:basis-1/2 lg:basis-1/3 xl:basis-1/4 pb-3 md:p-3"
        [routerLink]="['/recipe', item.id]" (mouseover)="hover(item.id)">
        <div class="recipe-card h-full">
            @if (item.pictures.length > 0 && item.pictures[0].htmlSrc) {
            <div class="header">
                @if (item.pictures[0].htmlSrcSet && item.pictures[0].htmlSizes) {
                <img class="aspect-1/1 object-cover" [srcset]="item.pictures[0].htmlSrcSet"
                    [sizes]="item.pictures[0].htmlSizes" [src]="item.pictures[0].htmlSrc">
                }
                @else {
                <img class="aspect-1/1 object-cover" [src]="item.pictures[0].htmlSrc">
                }
            </div>
            }
            <div class="content grow">
                <h4 class="leading-[1.7rem] mb-4">
                    @if (item.localization[LangCode].title) {
                    {{ item.localization[LangCode].title }}
                    }
                    @else {
                    {{ item.localization[item.userLocale].title }}
                    }
                </h4>
                <p class="mb-0">
                    @if (item.localization[LangCode].description) {
                    {{ item.localization[LangCode].description }}
                    }
                    @else {
                    {{ item.localization[item.userLocale].description }}
                    }
                </p>
            </div>

            @if (item.localized && LangCode != item.userLocale && item.localization[LangCode].title) {
            <div class="content text-warn text-center py-0! fs-90%">
                {{ replace(Locale.recipe.aiSourceLocale, [item.localization[item.userLocale].title]) }}
            </div>
            }

            <div class="content border-bottom">
                @if (item.user) {
                <p class="mb-0 fs-90%">
                    {{ replace(Locale.recipe.submittedBy, [item.user.displayname]) }}
                </p>
                }
            </div>

            <div class="footer">
                <div>
                    @if (item.difficulty > 0) {
                    <fa-icon [icon]="Icons.difficulty[item.difficulty]" class="me-1"></fa-icon>
                    {{ Locale.recipe.difficulty[item.difficulty] }}
                    }
                </div>
                <div>
                    @if (item.statistics.votes.count > 0) {
                    <fa-icon [icon]="item.statistics.votes.avg > 2 ? Icons.like : Icons.like" class="me-1"></fa-icon>
                    {{ formatVote(item.statistics.votes.avg) }}
                    }
                </div>
                <div>
                    {{ formatDate(item.published ?? item.edited ?? item.modified, 'PP') }}
                </div>
            </div>
        </div>
    </a>
    }
</div>