<div class="flex flex-row flex-wrap">
    @for (item of Recipes; track $index) {
    <a class="block clear basis-1/1 md:basis-1/2 lg:basis-1/3 xl:basis-1/4 pb-3 md:p-3"
        [routerLink]="['/recipe', item.id]">
        <div class="recipe-card h-full">
            @if (item.pictures.length > 0) {
            <div class="header">
                <img class="aspect-1/1 object-cover"
                    [src]="'/api/media/uploads/' + item.id + '/' + item.pictures[0].id + '/' + item.pictures[0].filename">
            </div>
            }
            <div class="content grow">
                <h4>
                    @if (item.localization[LangCode].title) {
                    {{ item.localization[LangCode].title }}
                    }
                    @else {
                    {{ item.localization[item.userLocale].title }}
                    }
                </h4>
                <p class="mb-0">
                    @if (item.localization[LangCode].description) {
                    {{ item.localization[LangCode].description }}
                    }
                    @else {
                    {{ item.localization[item.userLocale].description }}
                    }
                </p>
            </div>

            @if (item.aiLocalized && LangCode != item.userLocale && item.localization[LangCode].title) {
            <div class="content text-warn">
                <div>
                    <fa-icon [icon]="Icons.ailocalized" class="me-1"></fa-icon>
                    {{ Locale.recipe.aiLocalizedContent }}
                </div>
            </div>
            }

            <div class="content border-bottom">
                @if (item.user) {
                <p class="mb-0 fs-90%">
                    {{ replace(Locale.recipe.submittedBy, [item.user.displayname]) }}
                </p>
                }
            </div>

            <div class="footer justify-evenly">
                <div>
                    View
                </div>
                <div>
                    Cook
                </div>
                <div>
                    Date
                </div>
            </div>
        </div>
    </a>
    }
</div>